data/additional_ocr/
data/formatted/
data/raw/
data/extracted/*/add_ocr/
data/extracted/*/add_txt/
data/extracted/*/images/
data/extracted/*/processed_images/
data/extracted/*/pages/
.venv/
__pycache__