data/additional_ocr/
data/formatted/
data/raw/
data/extracted/*/add_ocr/
data/extracted/*/images/
data/extracted/*/processed_images/
data/extracted/*/pages/
.venv/
__pycache__
*.xlsx
user-password.cfg
apicache
*.lwp
*.ctrl